absl-py==2.1.0
accelerate==0.33.0
addict==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.3.4
aiohttp==3.10.0
aiosignal==1.3.1
albucore==0.0.13
albumentations==1.4.12
altair==5.3.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
bitsandbytes==0.43.3
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorlog==6.8.2
contourpy==1.2.1
cryptography==43.0.0
cssselect2==0.7.0
ctranslate2==4.3.1
cycler==0.12.1
deprecated==1.2.14
diffusers==0.29.2
einops==0.6.1
einops-exts==0.0.4
embreex==2.17.7.post5
eval-type-backport==0.2.0
exceptiongroup==1.2.2
fastapi
ffmpy==0.4.0
filelock==3.15.4
flatbuffers==24.3.25
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
ftfy==6.2.0
fvcore==0.1.5.post20221221
gitdb==4.0.11
gitpython==3.1.43
gradio-client==1.3.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub
hyperframe==6.0.1
idna==3.8
imageio==2.34.2
importlib-metadata==8.2.0
importlib-resources==6.4.4
iopath==0.1.10
jax==0.4.31
jaxlib==0.4.31
jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
kornia==0.7.3
kornia-rs==0.1.5
latex2mathml==3.77.0
lazy-loader==0.4
lxml==5.2.2
manifold3d==2.5.1
markdown-it-py==3.0.0
markdown2==2.5.0
markupsafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
mediapipe==0.10.14
ml-dtypes==0.4.0
mpmath==1.3.0
multidict==6.0.5
networkx==3.3
ninja==1.11.1.1
numpy==1.26.4
omegaconf==2.3.0
opencv-python-headless==4.10.0.84
opt-einsum==3.3.0
orjson==3.10.7
packaging==24.1
pandas==2.2.2
peft==0.12.0
pillow==10.4.0
platformdirs==4.2.2
portalocker==2.10.1
protobuf==4.25.4
pycollada==0.8
pycparser==2.22
pydantic==2.8.2
pydantic-core==2.20.1
pydub==0.25.1
pygithub==2.3.0
pygments==2.18.0
pyjwt==2.9.0
pynacl==1.5.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-multipart
pytz==2024.1
pyyaml==6.0.2
referencing==0.35.1
regex==2024.7.24
reportlab==4.2.2
requests==2.32.3
rich==13.8.0
rpds-py==0.19.1
rtree==1.3.0
ruff==0.6.2
sacremoses==0.0.53
safetensors==0.4.3
scikit-image==0.24.0
scikit-learn==1.2.2
scipy==1.14.0
semantic-version==2.10.0
sentencepiece==0.2.0
shapely==2.0.5
shellingham==1.5.4
shortuuid==1.0.13
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.4.7
soupsieve==2.5
spandrel==0.3.4
stanza==1.1.1
starlette
svg-path==6.3
svglib==1.5.1
svgwrite==1.4.3
sympy==1.13.1
tabulate==0.9.0
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.7.24
timm==0.6.13
tinycss2==1.3.0
tokenizers==0.15.1
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
tqdm==4.66.5
trampoline==0.1.2
transformers==4.37.2
trimesh==4.4.3
triton==2.1.0
torchsde==0.2.6
typer==0.12.5
typing-extensions==4.12.2
tzdata==2024.1
uvicorn==0.30.6
vhacdx==0.0.8.post1
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websockets==12.0
wrapt==1.16.0
xatlas==0.0.9
xxhash==3.4.1
yacs==0.1.8
yapf==0.40.2
yarl==1.9.4
zipp==3.19.2